/* // mobile-first by default
.movies-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    grid-row-gap: 20px;
}

@media only screen and (min-width: 500px) { // small screen
    .movies-list {
        grid-template-columns: repeat(2, minmax(0, 1fr)); // 1 column
    }
}

@media only screen and (min-width: 800px) { // medium screen
    .movies-list {
        grid-template-columns: repeat(3, minmax(0, 1fr)); // 1 column
    }
}

@media only screen and (min-width: 1200px) { // wide screen
    .movies-list {
        grid-template-columns: repeat(5, minmax(0, 1fr)); // 1 column
    }
}
 */